#frmBuscar input{
	margin: 8px;

}

/* Deveria aplicar cor ao botao */
#frmBuscar input[type="submit"] 
{
    background: none repeat scroll 0 0 #388777;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 8px 20px;
    text-transform: uppercase;
    border: 1px solid #278975;
}

#frmBuscar input[type="submit"], button[type=submit] 
{
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 8px 15px;
    text-transform: uppercase;
}

#frmBuscar input[type="submit"]:hover, button[type=submit]:hover 
{
	background: #222;
	border-color: #666
}

#frmBuscar input[type="text"] {
    padding: 8px 30px;
    font-size: 18px;
}